Package: elkirtasse
Version: 3.5.0-1
Architecture: all
Maintainer: kovax <kovax3k@gmail.com>
Installed-Size: 35404
Depends: libqtgui4 (>= 4:4.6.0), libqt4-xml (>= 4:4.6.0)
Section: utils
Priority: extra
Homepage: http://www.elkirtasse.co.cc
Description: مكتبة القرطاس
